<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.swiperefreshlayout.ios"
        version="1.0">

  <name>CordovaSwipeRefreshLayoutPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="CordovaSwipeRefreshLayoutPlugin">
        	<param name="ios-package" value="CordovaSwipeRefreshLayoutPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start ios -->
     <header-file src="ios/src/CordovaSwipeRefreshLayoutPlugin.h" target-dir="SwipeRefreshLayout/ios/src"/>
     <source-file src="ios/src/CordovaSwipeRefreshLayoutPlugin.m" target-dir="SwipeRefreshLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/CustomSwipeProgressBar.h" target-dir="SwipeRefreshLayout/ios/src"/>
     <source-file src="ios/src/CustomSwipeProgressBar.m" target-dir="SwipeRefreshLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/CustomSwipeRefreshLayout.h" target-dir="SwipeRefreshLayout/ios/src"/>
     <source-file src="ios/src/CustomSwipeRefreshLayout.m" target-dir="SwipeRefreshLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/CustomSwipeRefreshLayoutImpl.h" target-dir="SwipeRefreshLayout/ios/src"/>
     <source-file src="ios/src/CustomSwipeRefreshLayoutImpl.m" target-dir="SwipeRefreshLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/DefaultCustomHeadView.h" target-dir="SwipeRefreshLayout/ios/src"/>
     <source-file src="ios/src/DefaultCustomHeadView.m" target-dir="SwipeRefreshLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/DefaultCustomHeadViewImpl.h" target-dir="SwipeRefreshLayout/ios/src"/>
     <source-file src="ios/src/DefaultCustomHeadViewImpl.m" target-dir="SwipeRefreshLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/LineSwipeProgressBar.h" target-dir="SwipeRefreshLayout/ios/src"/>
     <source-file src="ios/src/LineSwipeProgressBar.m" target-dir="SwipeRefreshLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/src/SwipeRefreshLayoutPlugin.h" target-dir="SwipeRefreshLayout/ios/src"/>
     <source-file src="ios/src/SwipeRefreshLayoutPlugin.m" target-dir="SwipeRefreshLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start tsc -->
     <source-file src="tsc/src/ios/widget/CustomSwipeRefreshLayoutImpl.ts" target-dir="tsc/src/ios/widget"/>
     <source-file src="tsc/src/ios/widget/DefaultCustomHeadViewImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
  </platform>

</plugin>